:root{
    --blanco: #ffffff;
    --oscuro: #04757d;
    --primario: #50C878;
    --secundario: #e0a801;
    --terciario: #a8a888;
    --dark: #043a3a;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem=10px */
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/*.titulo-bg{
    background-color: var(--oscuro);
    padding: 1rem;
    mq = 480px -> telefono
    mq = 768px -> tablet
    mq = 1140px -> laptop/pc escritorio
    mq = 1400px -> convencion
}*/

.titulo{
    text-align: center;
    font-size: 3rem;
    color: var(--oscuro);
}

.titulo span{
    font-size: 2rem;
    text-decoration: underline;
}

.contenedor{
    max-width: 120rem; /*Toma 120rem como maximo, sino ocupa lo que hay de ancho*/
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--oscuro);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;  
        justify-content: space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--dark);
}

.hero{
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenido-hero h2{
    color: aliceblue;

}
